minio.quato.space:8443 {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    reverse_proxy minio:9000
}

app.quato.space:8443 {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    handle /api/* {
        reverse_proxy quato-backend:8000
    }
    handle /mcp {
        rewrite * /mcp/
        reverse_proxy quato-backend:8000
    }
    handle /mcp/* {
        reverse_proxy quato-backend:8000
    }
    handle /health {
        reverse_proxy quato-backend:8000
    }
    handle {
        root * /srv/frontend
        file_server
    }
}
