# Backtesting orchestrator
pydantic
quantrocket-client
dotenv
GitPython

# MCP dependencies
mcp

# LangGraph agent dependencies
langgraph
langchain-core
langchain-openai

# For jupyter notebook testing and web scraping in parsing API specs
ipykernel
beautifulsoup4